/*FOR PROJECT DROP BUTTON*/
.svg-hover-shadow {
    --svg-fill: #FAED7D1a;
    filter: drop-shadow(0 0 0px #474747);
    transition: filter 0.2s ease;
}
.group:hover .svg-hover-shadow {
    --svg-fill: #FAED7D33;
    filter: drop-shadow(0 0 2px #474747) ;
}