/*
 Main colors:
 Theme Highlight Lime = #A1BF36
 Text Highlight Yellow = #FAED7D
 Text Highlight Lime = #C7D989
 Background Black: #080808;
 White Text Color: #f3f4f6;
 */

.App {
    position: relative;
    z-index: 0; /* Base layer */
}

#home, #about, #projects, #contact {
    position: relative;
    z-index: 2; /* Above cursor */
}

/* Text elements specifically */
.App h1, .App h2, .App h3, .App p, .App span {
    position: relative;
    z-index: 2;
}

::selection {
    background: #fbc308; /* Your desired highlight color */
    color: black;        /* Text color when selected */
}
::-moz-selection {      /* For Firefox compatibility */
    background: #fbc308;
    color: black;
}
